### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine no
RewriteRule i-love-kolumna index.html
RewriteRule kolumna-las-wierzch-kolumna kolumna.html
RewriteRule technologie-dla-czlowiekowi tech.html
RewriteRule kolumna-okolica-las ciekawemiejsca.html
RewriteRule ekologia-i-ciekawostki ciekawewww.html
