body {
  font-family: Arial;
  background-color: lightgray;

  .wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }

  .wrapper>* {
    padding: 10px;
    flex: 1 100%;
  }

  .header {
    background-color: rgb(106, 238, 106);
  }

  .footer {
    background-color: rgb(106, 238, 106);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
  }

  .main {
    text-align: left;
    background-color: #b1b1b1;
    text-align: justify;
  }

  .aside-1 {
    background-color: #c2c2c2;
  }

  /* Nieodwiedzony link */
  a:link {
    color: green;
    text-decoration: none;
  }

  /* Odwiedzony link */
  a:visited {
    color: green;
    text-decoration: none;
  }

  /* Najechany link */
  a:hover {
    color: red;
    text-decoration: none;
  }

  .aside-2 {
    background-color: #c2c2c2;
  }

  @media all and (min-width: 600px) {
    .aside {
      flex: 1 0 0;
    }
  }

  @media all and (min-width: 800px) {
    .main {
      flex: 3 0px;
    }

    .aside-1 {
      order: 1;
    }

    .main {
      order: 2;
    }

    .aside-2 {
      order: 3;
    }

    .footer {
      order: 4;
    }
  }

  body {
    padding: 2em;
  }

  span {
  color: red;
  }
}
