body {
  font-family: Arial;
  background-color: lightgray;
  text-align: center;
}

.baner {
  background-color: rgb(106, 238, 106);
  padding: 2px;

}

.bl3 {

  display: grid;
  grid-template-columns: 20% auto 20%;
}
.stopka {
  background-color: rgb(106, 238, 106);
  position: fixed;
  padding: 15px;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 20px;
}

/* Nieodwiedzony link */
a:link {
  color: green;
  text-decoration: none;
}

/* Odwiedzony link */
a:visited {
  color: green;
  text-decoration: none;
}

/* Najechany link */
a:hover {
  color: red;
  text-decoration: none;
}

span {
  color: red;
}